<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.tanvirhasan.bsmrstupayment">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Registration"
            android:label="@string/title_activity_registration"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".AfterLogin"
            android:label="Welcome "
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.tanvirhasan.bsmrstupayment.MainActivity" />
        </activity>
        <activity
            android:name=".Profile"
            android:label="@string/title_activity_profile"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.tanvirhasan.bsmrstupayment.AfterLogin" />
        </activity>
        <activity
            android:name=".Payment_method"
            android:label="@string/title_activity_payment_method"
            android:parentActivityName=".AfterLogin"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.tanvirhasan.bsmrstupayment.AfterLogin" />
        </activity>
        <activity
            android:name=".Payment_status"
            android:label="@string/title_activity_payment_status"
            android:parentActivityName=".AfterLogin"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.tanvirhasan.bsmrstupayment.AfterLogin" />
        </activity>
    </application>

</manifest>
